.wrapper {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/*    GLOBAL LAYOUT     */

header {
  margin-top: 0px;
  padding: 10px;
  text-align: center;
}

header img {
  width: 50%;
  min-width: 500px;
  max-width: 800px;
  margin-top: 10px;
}

header h2 {
  transform: scale(1, .98);
  font-weight: normal;
  margin-top: -45px;
  margin-left: -200px;
  margin-bottom: 0px;
  color: #9a4422;
}

nav h3 {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 0px;
  font-weight: normal;
  color: white;
  font-family: 'Addaff';
  font-size: 3.5rem;
}

nav {
  margin-top: 0px;
  background-color: #a3966a;
  color: white;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

nav a, .LOlink {
  color: white;
  text-decoration-line: none;
  font-weight: bold;
  letter-spacing: .09rem;
}

nav p {
  margin: 0px;
}

nav img {
  width: 25px;
  padding: 8px;
  margin-right: 0px;
  background-color: #eedfd6;
  border-radius: 10px;
}

nav .cart-PH {
  margin-left: -15px;
  font-weight: bold;
  font-size: 1rem;
}

nav .cart-PH:hover {
  cursor: pointer;
}

main {
  margin-top: 0px;
  color: #6e5b50;
}

footer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: nowrap;
  background-color: #a3966a;
  width: 100%;
  padding: 10px 0;
}


footer p {
  margin: auto;
  padding: 3px;
  color: white;
  text-align: center;
}

/*    LINK STYLES   */
a {
  text-decoration-line: none;
  font-weight: bold;
}

main a, .log-form a {
  color: #839170;
}

.view-link {
  letter-spacing: normal;
}

/*      HEADERS     */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  color: #9a4422;
}


/*      STORE PAGE    */

.store {
  width: 100%;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
}

.store h1 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.store p {
  margin-top: 0px;
}

.filter {
  width: 200px;
  margin: auto;
  background-color: #f3efeb;
  padding: 10px;
  border-radius: 10px;
}

.filter h3 {
  margin-bottom: 0px;
  color: #3e4633;
}

/*    PRODUCT GRID / CARDS    */

.product-grid {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto;
  background-color: #f3efeb;
  padding: 10px;
  border-radius: 10px;
}

.product-card, .ind-product-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3px;
  align-items: center;
  border: 1px solid #d8cb9f;
  background-color: #fcf9f2;
  border-radius: 10px;
  padding: 5px 30px;
}

.product-card p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.product-card .img, .ind-product-pg .img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  min-height: 200px;
  border-radius: 10px;
  background-color: #e4d9b7;
  color: #895d2c;
  text-align: center;
}

.product-card h3 {
  margin: 0px;
}

.add-to-cart {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  justify-items: center;
}

.add-to-cart .nobuff {
  margin-top: 15px;
}

.OOS {
  font-size: .8rem;
  font-style: italic;
  color: #a3966a;
  margin-left: 10px;
}

.ind-product-pg {
  width: 500px;
  margin: 30px auto;
}

/*  INDIVIDUAL PRODUCT PAGE  */

.prod-opts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modifier-group h4 {
  margin: 0px;
  font-size: 1.1rem;
}

.modifier-group p {
  margin-top: 0px;
  margin-bottom: .5rem;
}

.modifier-options {
  margin-bottom: 1rem;
}

/*    REGISTRATION    */

.reg-form {
  text-align: center;
  width: 25%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 10px;
}

.reg-form h2 {
  margin-bottom: 0px;
}

.reg-form button {
    margin-bottom: 10px;
}

/*    LOGIN     */

.log-form {
  text-align: center;
  width: 25%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.log-form h2 {
  margin-bottom: 0px;
}

.log-form button {
    margin-bottom: 10px;
}


/*    FORM STYLES   */

input {
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #6e5b50;
}

label {
  color: #482e1d;
  font-weight: bold;
}

fieldset {
  padding: 10px;
  border: none;
  margin: 0px;
}

button {
  font-family: 'Munson', serif;
  background-color: beige;
  border: 1px solid #6e5b50;
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: bold;
  font-size: .9rem;
}


/*    PROFILE PAGE    */

.prof-pg {
  width: 300px;
  text-align: center;
  margin: 20px auto;
}

/*    CART PAGE   */

.cart-pg {
  width: 750px;
  text-align: center;
}

.cart-pg h3 {
  background-color: blue;
}